<blockquote>最后更新：<%= updatedAt %></blockquote>

<h2>🤩 我</h2>

<img src="https://visitor-badge.glitch.me/badge?page_id=haixiangyan" alt="visitor badge"/>

<p>哈喽，<img src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="25px" alt="手势"> 我是海怪.</p>

<p>
    目前我在深圳 (<%= weather.latt_long %>)。
    今天深圳温度最高 <%= weather.consolidated_weather[0].min_temp %> 度，
    最低 <%= weather.consolidated_weather[0].max_temp %> 度，
    <%= getStateCNName(weather.consolidated_weather[0].weather_state_abbr) %>
    <img width="32" src="<%= getIconUrl(weather.consolidated_weather[0].weather_state_abbr) %>" alt="天气">。
</p>

<img width="100%" align="center" src="<%= background %>" alt="background">

<h2>🙌 社交</h2>

<p>经常在各大平台出没 👻，可以搜索我的全网账号<b>【写代码的海怪】</b>找到我。每周定期更新一篇博文，关注我，一起开心写代码，快乐学编程 💪！</p>

<table>
    <tr>
        <% socials.forEach(function(social){ %>
        <th><a href="<%= social.url %>" target="_blank"><%= social.name %></a></th>
        <% }); %>
    </tr>
    <tr>
        <% socials.forEach(function(social){ %>
        <td>
            <a href="<%= social.url %>" target="_blank">
                <img src="<%= social.icon %>" alt="<%= social.name %>">
            </a>
        </td>
        <% }); %>
    </tr>
</table>

<h2>📚 小书</h2>

<p>当一篇博文讲得东西非常多，或者内容非常长的时候，我就会把它变成一本在线小书。所在小书皆可免费食用 🍝、无限转载 📣，唯一要求是转载时加上【写代码的海怪】作者出处即可。</p>

<table>
    <thead align="center">
    <tr>
        <th>封面</th>
        <th>书名</th>
        <th>简述</th>
        <th>成就</th>
    </tr>
    </thead>

    <tbody align="left">
        <% books.forEach(function(book){ %>
        <tr>
            <th align="center">
                <img width="80" src="<%= book.cover %>" alt="<%= book.name %>">
            </th>
            <th>
                <a href="<%= book.url %>" target="_blank"><%= book.name %></a>
            </th>
            <th><%= book.desc %></th>
            <th>
                <% book.badges.forEach(function(badge){ %>
                    <img src="<%= badge %>" alt="badge">
                <% }); %>
            </th>
        </tr>
        <% }); %>
    </tbody>
</table>

<h2>💼 项目</h2>

<p>下面是我在学前端的路上写的一些个人项目，有的比较认真 🧐，有的只是为了好玩 🎮，有的比较沙雕 🤪。</p>

<table>
    <thead align="center">
    <tr>
        <th>项目</th>
        <th>简述</th>
        <th>技术</th>
        <th>成就</th>
    </tr>
    </thead>

    <tbody align="left">
    <% projects.forEach(function(project){ %>
        <tr>
            <th>
                <a href="<%= project.preview || project.github %>" target="_blank">
                    <%= project.repo %>
                </a>
            </th>
            <th><%= project.logo %> <%= project.desc %></th>
            <th>
                <% project.techList.forEach(function(tech){ %>
                    <img src="<%= tech %>" alt="badge">
                <% }); %>
            </th>
            <th>
                <% project.badges.forEach(function(badge){ %>
                    <img src="<%= badge %>" alt="badge">
                <% }); %>
            </th>
        </tr>
    <% }); %>
    </tbody>
</table>

<h2>总览</h2>

<p>Github 时常会更新不少新东西和好玩的项目哦~</p>

<h3>数据统计</h3>
<a href="https://github.com/haixiangyan" target="_blank">
    <img alt="数据总览" src="https://denvercoder1-github-readme-stats.vercel.app/api/?username=haixiangyan&show_icons=true&count_private=true&theme=react&hide_border=true&bg_color=1F222E&title_color=F85D7F&icon_color=F8D866" height="192px"/>
</a>
<a href="https://github.com/haixiangyan" target="_blank">
    <img alt="常用开发语言" src="https://github-readme-stats.vercel.app/api/top-langs/?username=haixiangyan&langs_count=8&layout=compact&theme=react&hide_border=true&bg_color=1F222E&title_color=F85D7F&icon_color=F8D866&hide=Jupyter%20Notebook" height="192px"/>
</a>

<br>

<h3>活跃度</h3>
<img alt="Github 日常" src="https://denvercoder1-activity-graph.herokuapp.com/graph/?username=haixiangyan&bg_color=1F222E&color=F8D866&line=F85D7F&point=FFFFFF&hide_border=true" />
